boot-web1/src/main/resources/wsdl/CustomerServiceEndpoint.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://endpoints.mahendra.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://endpoints.mahendra.com" xmlns:intf="http://endpoints.mahendra.com" xmlns:tns1="http://models.mahendra.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://endpoints.mahendra.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://models.mahendra.com"/>
   <element name="findByName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByNameResponse">
    <complexType>
     <sequence>
      <element name="findByNameReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="findByEmail">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findByEmailResponse">
    <complexType>
     <sequence>
      <element name="findByEmailReturn" type="tns1:Customer"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://models.mahendra.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://endpoints.mahendra.com"/>
   <complexType name="Customer">
    <sequence>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="firstName" nillable="true" type="xsd:string"/>
     <element name="lastName" nillable="true" type="xsd:string"/>
     <element name="phoneNo" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="findByNameResponse">

      <wsdl:part element="impl:findByNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByNameRequest">

      <wsdl:part element="impl:findByName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByEmailRequest">

      <wsdl:part element="impl:findByEmail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findByEmailResponse">

      <wsdl:part element="impl:findByEmailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CustomerServiceEndpoint">

      <wsdl:operation name="findByName">

         <wsdl:input message="impl:findByNameRequest" name="findByNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:findByNameResponse" name="findByNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findByEmail">

         <wsdl:input message="impl:findByEmailRequest" name="findByEmailRequest">

       </wsdl:input>

         <wsdl:output message="impl:findByEmailResponse" name="findByEmailResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CustomerServiceEndpointSoapBinding" type="impl:CustomerServiceEndpoint">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="findByName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findByNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findByEmail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findByEmailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findByEmailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CustomerServiceEndpointService">

      <wsdl:port binding="impl:CustomerServiceEndpointSoapBinding" name="CustomerServiceEndpoint">

         <wsdlsoap:address location="http://tempuri.org/boot-web1/services/CustomerServiceEndpoint"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
