boot-web1/src/main/resources/customer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/customer" xmlns:tns="http://mahendra.com/customer" elementFormDefault="qualified"
	xmlns:t="http://mahendra.com/customer">
	
	<complexType name="cs">
		<sequence>
			<element name="firstName" type="string"/>
			<element name="lastName" type="string"/>
			<element name="email" type="string"/>
			<element name="phoneNo" type="string"/>
		</sequence>
	</complexType>
</schema>